body {
    padding-top: 1em;
}

.main-navigation .status-icon {
    display: inline-block;
    text-align: center;
    min-width: 1em;
}

.status-icon-success {
    color: #090;
}

.main-navigation li.active.status-success a {
    background-color: #090;
}

.main-navigation li.active.status-success .status-icon-success {
    color: #fff;
}

.status-icon-failure {
    color: #900;
}
.main-navigation li.active.status-failure a {
    background-color: #900;
}

.main-navigation li.active.status-failure .status-icon-failure {
    color: #fff;
}
