<!DOCTYPE html>
<html>
  <head>
    <title>babbs</title>
    <link href="/static/bootstrap-2.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-2.1.0/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          {#widget widgets/main-navigation.html currentUrl=currentUrl /}
        </div>
        <div class="span9">
          {#hole main /}
        </div>
      </div>
    </div>
    
    
    <script src="/static/bootstrap-2.1.0/js/bootstrap.js"></script>
  </body>
</html>
