{#include ./base.html currentUrl=currentUrl}
  {:main}
    <h1>{task.name}</h1>
    <p>{task.description}</p>
    <h2>Runs</h2>
    <table class="table table-bordered table-striped">
      {#for run in runs}
        <tr class="{#if run.success}success{:else}error{/if}">
          <td>
            Run #{run.runNumber}:
            {#if run.success}
              success
            {:else}
              <strong>failed</strong>
            {/if}
          </td>
          <td>
            Finished: {#formatDateTime run.finishDateTime /}
          </td>
        </tr>
      {/for}
    </ul>
{/include}
